@font-face {
    font-family: 'Myfont';
    src: url('../fonts/logofont.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
:root{
    --main-bg-color: #ffb3c6;
    --nav-bg-color: #ff206e;
    --logo-font-color: #ffc2d1;
    --poster-font-color: #fb6f92;
    --donut-font-color: #fb6f92;
    --menu-font-color: #ff206e;
    --contact-border-color: #fe6d73;
    --contact-font-color: #8f2d56;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background-color: var(--main-bg-color);
    font-family: 'Titillium Web',sans-serif;
}

#content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
/*home.js styles starts*/
.navLinks{
    display: flex;
    justify-content:  space-around;
    align-items: center;
    gap: 1rem;
}
.logo{
    color: var(--logo-font-color);
    font-size: 2.3rem;
    font-weight: 800;
}
.logo:hover{
    cursor: default;
    color: #d81159;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
nav{
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: space-around;
    padding: 0.8rem 0;
    position:sticky;
    top:0;
}
.navLinks>div{
    color: var(--logo-font-color);
    font-size: 1.2rem;
}
.navLinks>div:hover{
    cursor: default;
    color: #7209b7;
}
.selectedLink{
    font-size: 2.7rem;
    font-weight: 800;
    color: #b5179e;
}
.selectedLink::before,.selectedLink::after{
    content: ' | ';
}
.posterDiv{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    align-items: center;
}
.posterDiv>img{
    width: 30%;
    border: 1px solid orange;
    border-radius: 40%;
}
.posterDiv>p{
    color: var(--poster-font-color);
    font-size: 4rem;
    width: 40%; 
}
/*home.js style ends*/

/*menu.js style start */

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.5rem;
}
.menuHeader{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}
.menuHeader>p{
    color: var(--menu-font-color);
    font-size: 4rem;
    /* border-bottom: 5px solid black; */
}
.menuHeader>p:hover{
    cursor:default;
}
.allDonuts{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 30%;
    align-self: center;
    row-gap: 1.5rem;
    column-gap: 4.5rem;
    padding-bottom: 2em;
}
.allDonuts>div{
    color: var(--donut-font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    gap: 8px;
}
.allDonuts>div>img{
    width:100%;
    border-radius: 12px;
}
/* menu styling ends */

/*contact styling starts */

.contact{
    display: flex;
    flex-direction: column;
    gap: 12rem;
    margin-top: 7.2rem;

}
.infoBox{
    color: var(--contact-font-color);
    font-weight: 500;
    padding: 3em;
    align-self: center;
    border: 2px solid var(--contact-border-color);
    background-color: var(--donut-font-color);
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
}
.infoBox>p{
    font-size: 1.3rem;
}